@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: 'JetBrains-Mono-Thin';
    src: url('/fonts/JetBrains-Mono-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
    font-style: normal;
  }
}
